<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackz.crescentmca2017_2019">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StartScreen"
            android:theme="@style/fuls">
            </activity>
        <activity
            android:name=".AllTimeTable"
            android:label="Full Time Table" />
        <activity
            android:name=".About"
            android:label="About This Application" />
        <activity android:name=".Download"
            android:label="Subject News" />

        <activity android:name=".UpdateScreen"
            android:label="Update Information" ></activity>
    </application>

</manifest>